.content .fileupload #uploadbtn{
  width:400px;
  background-color:#FCBF49!important;
  color:#1D3668;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight:bold;
}
